{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <!-- For Loop -->
            {% for stock in stocks %}
                <tr>
                    <td>{{ stock.symbol }}</td>
                    <td>{{ stock.name }}</td>
                    <td>{{ stock.shares }}</td>
                    <td>{{ stock.price | round(2) }}</td>
                    <td>{{ stock.total | round(2) }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td class="border-0 fw-bold text-end" colspan="4">Cash</td>
                    <td class="border-0 text-end">{{ user_cash | round(2) }}</td>
                </tr>
                <tr>
                    <td class="border-0 fw-bold text-end" colspan="4">Total</td>
                    <td class="border-0 w-bold text-end">{{ total_value | round(2) }}</td>
                </tr>
            </tfoot>
        </table>

{% endblock %}
