{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table action="/" class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-start">Name</th>
                <th class="text-start">Shares</th>
                <th class="text-start">Price</th>
                <th class="text-start">Total</th>
            </tr>
        </thead>
        <tbody>
            <!-- For Loop -->
            {% for stock in stocks %}
                <tr>
                    <td>{{ stock["symbol"] }}</td>
                    <td>{{ stock["symbol"] }}</td>
                    <td>{{ stock["shares"] }}</td>
                    <td>{{ stock["price"] | round(2) }}</td>
                    <td>{{ stock["shares"] * stock["price"] | round(2) }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td class="border-0 fw-bold text-end" colspan="4">Cash</td>
                    <td class="border-0 text-end">Cash</td>
        </table>

{% endblock %}
